html, body{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

*{
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: 'Balsamiq Sans', sans-serif, Arial, Helvetica;
  scroll-behavior: smooth;
}


a{
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  transition: 1s;
}

a:focus {
  outline: none !important;
}



/* Background */

#container{
  background-image: url(img/background.gif);
  margin-top: -1rem;
}


/* nav bar */

#nav{
  top: 1.2rem;
  display: grid;
  justify-content: center;
  background-image: url(img/icons/button.png);
  justify-content: center;
}

nav{
  width: 50rem;
  margin: 0%;
  background-size: cover;
  overflow: hidden;
}

#navlist{
  padding: 0;
  list-style: none;
  display: grid;
  justify-content: space-around;
  user-select: none;
  grid-template-columns: repeat(4, 10rem)
}

.navitens{
  border-style: solid;
  border-radius: 1rem;
  width: 10rem;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
  overflow: hidden;
  background-size: cover;
  transition: 1s;
  user-select: none;
}

.navitens:hover{
  background: rgba(150, 21, 236, 0.521);
}


/* Sobre Mim */

#sobremim{
margin: 10px;
padding: 10px;
text-align:start;
display: grid;
grid-template-columns: auto auto;
grid-auto-rows: auto auto;
}

#titlesm{
text-align: center;
}

#areasm{
grid-row: 2;
justify-self: center;
}

#astroplanet{
grid-row: 2;
}

#astronaut{
  height: 16rem;
  width: 16rem;
}

#buttonarea{
  display: flex;
  justify-content: center;
  user-select: none;
}

#saibamais{
  border-style: solid;
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 0.5rem;
  overflow: hidden;
  display: inline-block;
  background-color: black;
  transition: 1s;
  width: 13rem;
  text-align: center;
  user-select: none;
}

#saibamais:hover{
background: rgba(150, 21, 236, 0.521);
}

/* Skills */

#Skills{
  border-style: solid;
  margin: 10px;
  padding: 10px;
  border-radius: 1rem;

  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: auto auto;
  justify-content: center;

}

#tittleskill{
  grid-row: 1;
  grid-column: 1/-1;
  justify-self: center;
}

#Hardskills{
  grid-row: 2;
  grid-column: 1;
}

#astronautlap{
  grid-row: 2;
  grid-column: 2;
}

#laptop{
height: 16rem;
width: 16rem;

}


#Softskills{
  grid-row: 2;
  grid-column: 3;
  align-self: center;
}

#astronauttalk{
  grid-row: 2;
  grid-column: 4;
}

#talk{
  height: 16rem;
  width: 16rem;
}

@counter-style list{
  system: fixed;
  symbols: 👽 🛸 👾 ✨ 🖖  🚀 👨‍🚀 ;
  suffix: " ";

}

#ulss {
  list-style-type: list;
}

#ulss > li{
  margin-top: 1.2rem;
}

#JS{
  margin: 0;
  padding: 1.5rem 0 2rem 5rem;
  list-style: none;
  background-image: url("img/icons/js.png");
  background-repeat: no-repeat;
  background-size: 4em;
}

#HTML5{
  margin: 0;
  padding: 1.5rem 0 2rem 5rem;
  list-style: none;
  background-image: url("img/icons/html.png");
  background-repeat: no-repeat;
  background-size: 4em;
}
#CSS3{
  margin: 0;
  padding: 1.5rem 0 2rem 5rem;
  list-style: none;
  background-image: url("img/icons/css.png");
  background-repeat: no-repeat;
  background-size: 4em;
}
#Ingles{
  margin: 0;
  padding: 1.5rem 0 2rem 5rem;
  list-style: none;
  background-image: url("img/icons/talk.png");
  background-repeat: no-repeat;
  background-size: 4em;
}

/*Portifolio*/

#portifolio{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 1fr;
  border-style: solid;
  margin: 10px;
  padding: 10px;
  border-radius: 1rem;
}

#Tittleportifolio{
  grid-row: 1;
  grid-column: 1/span 2;
  justify-self: center;
}

#square1, #square2, #square3, #square4{
  display: grid;
  justify-self: center;
}

.iconsused{
  justify-self: center;
}

.iconsquare{
  width: 3rem;
}

.projetoimg{
  width: 20rem;
  height: 10rem;
  border-radius: 1rem;
  border: transparent solid;
}

/* Contatos */

#Contato{
  margin: 10px 10px 0px 10px;
  padding: 10px;
  text-align: justify;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-rows: auto auto;
}

#Contato>h2{
  text-align: center;

  grid-column: 1/-1;
}

#Cttarea{
  grid-row: 2;
  grid-column: 1/-1;
  justify-self: center;
}

#astronauts{
  grid-row: 2;
  grid-column: 2;
  justify-self: center;
  display: grid;
  grid-template-columns: auto auto;
}

#astronautdab{
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
}

#dab{
  height: 16rem;
  width: 16rem;
}

#astronautyoga{
  grid-row: 2;
  grid-column: 2;
  justify-self: end;
}

#yoga{
  height: 16rem;
  width: 16rem;
}

#Cttarea > ul{
  list-style: none;
}

#whats{
    margin: 0;
    padding: 1.5rem 0 1.5rem 2.4rem;
    list-style: none;
    background-image: url("img/icons/whatsapp.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2em;
}

#email{
    margin: 0;
    padding: 1.5rem 0 1.5rem 2.4rem;
    list-style: none;
    background-image: url("img/icons/gmail.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2em;
}

#linkedin{
    margin: 0;
    padding: 1.5rem 0 1.5rem 2.4rem;
    list-style: none;
    background-image: url("img/icons/linkedin.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2em;
}

#github{
    margin: 0;
    padding: 1.5rem 0 1.5rem 2.4rem;
    list-style: none;
    background-image: url("img/icons/github.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 2em;
    
}


/* Footer */

#footer{
  background-image: url(img/icons/button.png);
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

footer{
  border-radius: 1rem 1rem 1rem 1rem;
  width: 20rem;
  margin: 0%;
  align-self: center;
}

footer > p{
  text-align: center;
}

#iconsf{
  display: flex;
  justify-content: center;
  
}

#linkedinicon, #githubicon, #whatsicon, 
#gmailicon{
  width: 2.5rem;
  border-radius: 100%;
  border-style: solid;
  border-color: black;
  background-color: white;
}

@media only screen and (max-width: 840px){

  /*nav*/

  nav{
    width: 20rem;
  }

  #navlist{
    display: grid;
    grid-template-columns: 7rem 7rem;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
  }

  .navitens{
    justify-self: center;
    width: 7rem;
  
  }
  
  /* sobre mim */
  #sobremim{
    grid-template-rows: auto auto;
  }
  #astroplanet{
    grid-row: 3;
    justify-self: center;
  }


  /* skills */

  #Skills{
  grid-auto-rows: auto;
  }

  #tittleskill{
    grid-row: 1;
    grid-column: 2;
  }

  #Hardskills{
    grid-row: 2;
    grid-column: 2;
  }

  #astronautlap{
    grid-row: 3;
    grid-column: 2;
  }

  #Softskills{
    grid-row: 4;
    grid-column: 2;
  }

  #astronauttalk{
  grid-row: 5;
  grid-column: 2;
  }

  /*Portifólio*/

  #portifolio{
    grid-row-gap: 1rem;
  }

  #Tittleportifolio{
    grid-row:1;
    grid-column:1;
  }

  #square1{
    grid-row:2;
    grid-column:1;
  }

  #square2{
    grid-row:3;
    grid-column:1;
  }

  #square3{
    grid-row:4;
    grid-column:1;
  }

  #square4{
    grid-row:5;
    grid-column:1;
  }

  /* Contato */

#Contato{
    grid-auto-rows: auto auto auto;
    grid-column: auto auto;
    margin: 0;
  }
  
#Cttarea{
    grid-row: 2;
    columns: 1;
    z-index: 2;
  }

#astronauts{
grid-row: 3;
grid-column: 1/-1;
justify-content: center;
margin: 0;
z-index: 1;

  
}
  
#astronautdab{
  grid-row: 1;
  justify-self: center;
  }
  
#astronautyoga{
  display: none;
  }

}
